/node_modules/
/.env
/.DS_Store
/.idea
/.vscode
/.history
/dist



#pgsync data
/data/pgsync/workdir/.*
/data/pgsync/workdir/**/__pycache__
*.pyc
/data/pgsync/workdir/schema/schema.json
.vscode/launch.json